In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('C:/Users/Nisha/Desktop/Case-Studies/stocks_data.csv') # From a CSV file

In [10]:
print(df.shape) # number of rows and columns

(3006503, 8)

In [11]:
df.head(10)

         Date symbol   Open   High    Low  Close  Adj Close     Volume
0  2005-09-27    AAL  21.05  21.40  19.10  19.30      18.19   961200.0
1  2005-09-28    AAL  19.30  20.53  19.20  20.50      19.33  5747900.0
2  2005-09-29    AAL  20.40  20.58  20.10  20.21      19.05  1078200.0
3  2005-09-30    AAL  20.26  21.05  20.18  21.01      19.81  3123300.0
4  2005-10-03    AAL  20.90  21.75  20.90  21.50      20.27  1057900.0
5  2005-10-04    AAL  21.44  22.50  21.44  22.16      20.89  1768800.0
6  2005-10-05    AAL  22.10  22.31  21.75  22.20      20.93   904300.0
7  2005-10-06    AAL  22.60  23.00  22.40  22.58      21.29  1614200.0
8  2005-10-07    AAL  22.25  22.60  21.80  22.15      20.88   753400.0
9  2005-10-10    AAL  22.28  22.29  22.10  22.21      20.94   538700.0

In [12]:
print(df.dtypes)

Date          object
symbol        object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [7]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    if pct_missing >=0.10:
        print('{} - {}%'.format(col, round(pct_missing*100)))

In [13]:
print(df.columns)

Index(['Date', 'symbol', 'Open', 'High', 'Low', 'Close', 'Adj Close',
       'Volume'],
      dtype='object')

In [14]:
# Unnecessary type: Repetitive

# Finding columns with unnecessary data.

num_rows = len(df.index)
low_info_cols = [] #

for col in df.columns:
    cnts = df[col].value_counts(dropna=False)
    top_pct = (cnts/num_rows).iloc[0]
    
    if top_pct > 0.95:
        low_info_cols.append(col)
        print('{0}: {1:.5f}%'.format(col, top_pct*100))
        print(cnts)
        print()